body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  background-color: whitesmoke;
}
.pro-sidebar .pro-menu .pro-menu-item.active {
  background-color: royalblue;
}